<!doctype html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Create Your Own Recipe</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Righteous" />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<script>
		function alertUser()
		{
			alert("Recipe saved!");
		}
	</script>
</head>

<body>
	<nav>
		<div><a href="/webrecipe" class="middle">Browse</a></div>
		<div><a href="/createrecipe" class="middle">Add Your Own</a></div>
		<div><a href="/favorites" class="middle">My Favorites</a></div>
		<div><a href="/shoppinglist" class="middle">Shopping List</a></div>
	</nav>

	<h1 style="text-align:center; font-weight:400;">Create Your Own Recipe</h1>
	<form class="createYourOwnForm" method="POST" action="/createrecipe" onsubmit="return alertUser()">
		<input type="hidden" name="apiId" />
		Name of Dish: <br/><br/><input type="text" name="name" id="name" /><br/><br/>
		Dish Type: <br/><br/><input type="text" name="dishType" id="cuisineType" /><br/><br/>
		Cuisine Type: <br/><br/><input type="text" name="cuisineType" id="cuisineType" /><br/><br/>
		<p>Ingredients with quantities (separated by commas): </p>
		<textarea rows="3" cols="50" name="ingredients" id="ingredients">
		</textarea><br/>
		<p>Instructions: </p>
		<textarea rows="6" cols="50" name="instructions" id="instructions"></textarea><br/><br/>
		<input type="hidden" name="source" />
		<input type="hidden" name="image" />
		<input type="hidden" name="userRecipe" value="true" />
		<input type="submit" id='addToFavorites2' value="Add to Favorites" /><br/><br/>
	</form>
</body>
</html>