<!doctype html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Create Your Own Recipe</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<script>
		function alertUser()
		{
			alert("Recipe saved!");
		}
	</script>
</head>

<body>
	<nav>
		<div><a href="/webrecipe">Browse</a></div>
		<div><a href="/createrecipe">Add Your Own</a></div>
		<div><a href="/favorites">My Favorites</a></div>
		<div><a href="/shoppinglist">Shopping List</a></div>
	</nav>

	<h1>Create Your Own Recipe</h1>
	<form class="createYourOwnForm" method="POST" action="/createrecipe" onsubmit="return alertUser()">
		<input type="hidden" name="apiId" />
		Name of Dish: <input type="text" name="name" id="name" /><br/><br/>
		Dish Type: <input type="text" name="dishType" id="cuisineType" /><br/><br/>
		Cuisine Type: <input type="text" name="cuisineType" id="cuisineType" /><br/><br/>
		<p>Ingredients with quantities (separated by commas): </p>
		<textarea rows="3" cols="50" name="ingredients" id="ingredients">
		</textarea><br/><br/>
		<p>Instructions: </p>
		<textarea rows="6" cols="50" name="instructions" id="instructions"></textarea><br/><br/>
		<input type="hidden" name="source" />
		<input type="hidden" name="image" />
		<input type="hidden" name="userRecipe" value="true" />
		<input type="submit" value="Add to Favorites" /><br/><br/>
	</form>
</body>
</html>