<!doctype html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>My Favorites</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Righteous" />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<meta name=‘viewport’ content=“width=device-width, initial-scale=1”>

	<script language="javascript">
		recipeObjects = new Array();

		window.onload = function() {
				request = new XMLHttpRequest();
				request.open("GET", "/favorites/recipes");
	 
				// set up event handler/callback
				request.onreadystatechange = function() {
					// wait for done + success
					if (request.readyState == 4 && request.status == 200) {

						result = request.responseText;
						recipes = JSON.parse(result);
						recipeObjects = recipes;
						//use first recipe in response as one to display upon load of page
						recipeToDisplay = recipes[0];

						//create hidden form of recipe object in case user adds it to shopping list;
						//the endpoint will recipe the full object to insert into database
						hiddenForm = createHiddenForm(recipeToDisplay);
						document.getElementById("hiddenForm").innerHTML = hiddenForm;

						//display recipe on the page
						recipeHtml = recipeToStringWithRemoveButton(recipeToDisplay);
						document.getElementById("data").innerHTML = recipeHtml; 

						document.getElementById("recipe-list").innerHTML = makeRecipeSelect();

						document.getElementById("recipe-list").onchange = function()
						{
							recipeNameIndex = this.selectedIndex;
							//0th index is 'Jump to Recipe'
							if (recipeNameIndex == 0)
							{
								return;
							}
							//'Jump to Recipe' is 0th index, subtract 1 to get index of recipe in
							//recipe array
							recipeNameIndex--;
							recipeToDisplay = findObjectByKey("name", recipeObjects[recipeNameIndex].name);

							//delete old hidden form, create new one with new recipe chosen from dropdown
							document.getElementById("hiddenForm").innerHTML = "";
							hiddenForm = createHiddenForm(recipeToDisplay);
							document.getElementById("hiddenForm").innerHTML = hiddenForm;

							//display recipe on the page
							recipeHtml = recipeToStringWithRemoveButton(recipeToDisplay);
							document.getElementById("data").innerHTML = recipeHtml; 
						}

					}
					else if (request.readyState == 4 && request.status != 200) {

						document.getElementById("data").innerHTML = "Something went wrong! Please refresh the page";

					}
					else if (request.readyState == 3) {

						document.getElementById("data").innerHTML = "Loading...";

					}

				}
				//fire off the HTTP request
				request.send();
				console.log("4 - Request sent");
		}

		function makeRecipeSelect()
		{
			var s = "";
			s += "<option style='text-align: center' selected disabled hidden>" + "Jump to Recipe" + "</option>";
			for (k=0; k < recipeObjects.length; k++)
			{
				s += "<option style='text-align: center'>" + recipeObjects[k].name + "</option>";
			}
			
			return s;
		}

		//returns full recipe object from array based on its name in the dropdown list
		function findObjectByKey(key, value) {
		    for (var i = 0; i < recipeObjects.length; i++) 
		    {
		        if (recipeObjects[i][key] === value) {
		            return recipeObjects[i];
		        }
		    }
		    return null;
		}

		function alertUser()
		{
			alert("Recipe added to shopping list!");
		}

		function removedRecipe()
		{
			alert("Recipe removed from favorites.");
		}

	</script>
</head>

<body>
	<nav class="no-mobile">
		<div><a href="/webrecipe" class="middle">Browse</a></div>
		<div><a href="/createrecipe" class="middle">Add Your Own</a></div>
		<div><a href="/favorites" class="middle" style="color: #4aef21">My Favorites</a></div>
		<div><a href="/shoppinglist" class="middle">Shopping List</a></div>
	</nav>

	<form method="POST" action="/favorites" class="form2" id="favoritesForm" onsubmit="return alertUser()">
		<div id="hiddenForm" style="display: none"></div>
		<input type="submit" value="ADD TO SHOPPING LIST" id="add"/>
		<select name='recipeList' id='recipe-list' size='1'></select>
	</form>

	<form method="POST" action="/remove" id="removeForm" onsubmit="return removedRecipe()">
		<div id="data">Loading...</div>
	</form>

<% include partials/recipeObjectFooter %>
</body>
</html>
