<!doctype html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>My Favorites</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<script language="javascript">
		recipeObjects = new Array();

		window.onload = function() {
				// alert("click");
				request = new XMLHttpRequest();
				request.open("GET", "/favorites/recipes");
	 
				// set up event handler/callback
				request.onreadystatechange = function() {
					// wait for done + success
					if (request.readyState == 4 && request.status == 200) {
						// alert("success");
						result = request.responseText;
						// alert(result);
						recipes = JSON.parse(result);
						recipeObjects = recipes;
						recipeToDisplay = recipes[0];
						// recipeObject = createRecipeObject(recipeJson);

						recipeHtml = recipeToString(recipeToDisplay);
						document.getElementById("data").innerHTML = recipeHtml; 

						document.getElementById("recipeDropdown").innerHTML = makeRecipeSelect();

						document.getElementById("recipe-list").onchange = function()
						{
							recipeName = this.selectedIndex;
							alert(recipeName);
							recipeToDisplay = findObjectByKey("name", recipeName);
							recipeHtml = recipeToString(recipeToDisplay);
							document.getElementById("data").innerHTML = recipeHtml; 
							// alert("Recipe saved!");
							// getRecipes();
						}

						// recipeJson = recipe["meals"][0];
						// recipeObject = createRecipeObject(recipeJson);
					}
					else if (request.readyState == 4 && request.status != 200) {

						document.getElementById("data").innerHTML = "Something went wrong! Please refresh the page";

					}
					else if (request.readyState == 3) {

						document.getElementById("data").innerHTML = "Loading...";

					}

				}
				//fire off the HTTP request
				request.send();
				console.log("4 - Request sent");
		}

		function makeRecipeSelect()
		{
			var s = "<select name='recipeList' id='recipe-list' size='1'>";
			// s += "<option>" + "No filter" + "</option>";
			for (k=0; k < recipeObjects.length; k++)
			{
				s += "<option>" + recipeObjects[k].name + "</option>";
			}
			s+= "</select>";
			
			return s;
		}

		function findObjectByKey(key, value) {
		    for (var i = 0; i < recipeObjects.length; i++) 
		    {
		        if (recipeObjects[i][key] === value) {
		            return recipeObjects[i];
		        }
		    }
		    return null;
		}

	</script>
</head>

<body>
	<nav>
		<div><a href="/webrecipe">Browse</a></div>
		<div><a href="/createrecipe">Add Your Own</a></div>
		<div><a href="/favorites">My Favorites</a></div>
		<div><a href="/shoppinglist">Shopping List</a></div>
	</nav>

	<h1>My Favorites</h1>

	<h3>Jump to Recipe</h3>
	<div id="recipeDropdown">
	&nbsp;
	</div>
	<!-- <form method="POST" action=""> -->
	<!-- <select name="num_entries" size="1">
		<option value="10">Show first 10 entries</option>
		<option value="50">Show first 50 entries</option>
		<option value="100">Show first 100 entries</option>
		<option value="all">Show all entries</option>
	</select> -->
	<!-- </form> -->
	<div id="data">Loading...</div>
	<form method="POST" action="">
		<input type="button" value="Add to Shopping List" id="add"/>
	</form>

<% include partials/recipeObjectFooter %>
</body>
</html>
