<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node Sample App</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
	<nav style="display: flex; justify-content: space-between">
		<div><a href="/">Home</a></div>
		<div><a href="/webrecipe">Search For Recipes</a></div>
		<div><a href="/createrecipe">Create Your Own Recipe</a></div>
		<div><a href="/favorites">My Favorites</a></div>
		<div><a href="/shoppinglist">My Shopping List</a></div>
	</nav>

	<h1>Home</h1>
	<p style="color:red">Describe how the website works...</p>
</body>

</html>