<!doctype html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>My Shopping List</title>

	<!--Linking Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Righteous" />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

	<script language="javascript">
		recipesObjects = new Array();

		window.onload = function() {
			request = new XMLHttpRequest();

			//shoppinglist/recipes should return array of recipes
			request.open("GET", "/shoppinglist/recipes");
			
			request.onreadystatechange = function() {
				if (request.readyState == 4 && request.status == 200) {
					result = request.responseText;
					recipes = JSON.parse(result);
					var body = "";

					//for every recipe, add the HTML to nicely print it into our variable Body
					for (let r of recipes) {
						body += printIngredients(r);
					}

					//display info on page
					document.getElementById("data").innerHTML = body;


				}
				else if (request.readyState == 4 && request.status != 200) {
					document.getElementById("data").innerHTML = "Something went wrong! Please refresh the page";
				}
				else if (request.readyState == 3) {
					document.getElementById("data").innerHTML = "Loading...";
				}
			}
			request.send();

			//add section to handle email form onclick
			document.getElementById("emailSendButton").onclick = function() {
				console.log("ill do this tomorrow :/");
			}
		}


		
	</script>

</head>

<body>
	<nav>
		<div><a href="/webrecipe" class="middle">Browse</a></div>
		<div><a href="/createrecipe" class="middle">Add Your Own</a></div>
		<div><a href="/favorites" class="middle">My Favorites</a></div>
		<div><a href="/shoppinglist" class="middle">Shopping List</a></div>
	</nav>

	<hr />
	<h1 style="text-align: center; margin-top: 2%; margin-bottom: 2%;">My Shopping List</h1>
	<hr />

	<!-- Place to load recipes in through ajax-->
	<div id="data">

	</div>

	<!-- Email form -->
	<div class="emailForm">
		Email to Me: <br/><br/><input type="text" name="email" id="email" /><br/><br/>
		<input type="submit" id="emailSendButton" value="SEND" /><br/><br/>
	</div>

	<!-- Include the recipeObject.js file -->
	<% include partials/recipeObjectFooter %>

	<!-- Javascript includes for Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>