<!doctype html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Search</title>
	<script type='text/javascript' src='recipeObject.js'></script>
	<%
 	 utils.createRecipeObject();
  	 utils.recipeToString();
	%>
	<script language="javascript">
		cuisineOptions = new Array();

		function getRecipes() {
			// Make instance of request object to make HTTP request 
			//after page is loaded
			request = new XMLHttpRequest();
			alert("in get recipes, about to make request");
 
			// Set the URL for the AJAX request to be the JSON file
			request.open("GET", "https://www.themealdb.com/api/json/v1/1/random.php");

 
			// set up event handler/callback
			request.onreadystatechange = function() {
				// wait for done + success
				if (request.readyState == 4 && request.status == 200) {
					alert("now processing response");
					result = request.responseText;
					recipe = JSON.parse(result);
					//for now, API call only returns 1 recipe at a time
					recipeJson = recipe["meals"][0];
					recipeObject = createRecipeObject(recipeJson);
					alert("after createRecipeObject");

					for (i = 0; i < recipeObject.cuisineTypes.length; i++)
					{
						cuisineOptions.push(recipeObject.cuisineTypes[i]);
					}

					recipeHtml = recipeToString(recipeObject);
					alert("after recipeToString");
					document.getElementById("data").innerHTML = recipeHtml; 

					// searchButton = document.getElementById("cuisineDropdownDiv").innerHTML;
					document.getElementById("cuisineDropdownDiv").innerHTML = makeCuisineSelect() + "&nbsp" +makeFilterSearchButton();
				}
				else if (request.readyState == 4 && request.status != 200) {

					document.getElementById("data").innerHTML = "Something went wrong! Please refresh the page";

				}
				else if (request.readyState == 3) {

					document.getElementById("data").innerHTML = "ReadyState is 3 so that means this is loading!!!!";

				}

			}
			//fire off the HTTP request
			request.send();
			console.log("4 - Request sent");

			//change this so that the button says 'Get 10 more recipes,' which makes another API call, but
			//adds onto the existing recipes and adds items to the cuisine dropdown list (if they do not 
			//already exist in the list)
			document.getElementById("refreshRecipesButton").onclick = function()
			{
				// alert("here");
				// document.getElementsByTagName("body")[0].load();
				cuisineOptions = [];
				document.getElementById("cuisineDropdownDiv").innerHTML = "&nbsp";
				getRecipes();
			}
		}

		function makeCuisineSelect()
		{
			var s = "<select name='cuisineList' id='cuisine-list' size='1'>";
			s += "<option>" + "No filter" + "</option>";
			for (k=0; k < cuisineOptions.length; k++)
			{
				s += "<option>" + cuisineOptions[k] + "</option>";
			}
			s+= "</select>";
			
			return s;
		}

		function makeFilterSearchButton()
		{
			return "<input type='button' value='Search' />";
		}

	</script>
</head>

<body onload="getRecipes()">
	<nav style="display: flex; justify-content: space-between">
		<div><a href="/">Home</a></div>
		<div><a href="/webrecipe">Search For Recipes</a></div>
		<div><a href="/createrecipe">Create Your Own Recipe</a></div>
		<div><a href="/favorites">My Favorites</a></div>
		<div><a href="/shoppinglist">My Shopping List</a></div>
	</nav>

	<h1>
		Browse Recipes
		<input type="button" value="Get new recipes" id="refreshRecipesButton"/>
	</h1>

	<form method="POST" action="">
		<div id="cuisineDropdownDiv">
		&nbsp;
		<!-- <select name="cuisine_type" size="1">
			<option value="italian">Italian</option>
			<option value="carribbean">Carribbean</option>
			<option value="korean">Korean</option>
			<option value="german">German</option>
			<option value="indian">Indian</option>
		</select> -->
		<!-- <input type="button" value="Search" /> -->
		</div>
		
	</form>

	<div id="data">Loading...please</div>
	<p style="color:red">maybe try to put names of dishes into a dropdown list so users can decide which ones they want to add to favorites; or maybe we can have an "add to favorites" button next to each recipe, give each recipe an id and pass to database</p>

	<form method="POST" action="">
		<input type="button" value="Add to Favorites">
	</form>


</body>
</html>
