<!doctype html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Search</title>
	<link rel="stylesheet" href="../public/css/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Righteous" />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>

		<nav>
		<div><a href="/webrecipe" class="middle">Browse</a></div>
		<div><a href="/createrecipe" class="middle">Add Your Own</a></div>
		<div><a href="/favorites" class="middle">My Favorites</a></div>
		<div><a href="/shoppinglist" class="middle">Shopping List</a></div>
	</nav>
	<div data>

	<div class="recipeDisplayContainer">
		<h1 class="recipeName">Shawarma</h1>
		<div class="flex-container">
			<img class="recipeImg" src="https://www.themealdb.com/images/media/meals/kcv6hj1598733479.jpg">
			<div class='body-containers'>
			<div class="instructions">Combine the marinade ingredients in a large ziplock bag (or bowl).
Add the chicken and use your hands to make sure each piece is coated. If using a ziplock bag, I find it convenient to close the bag then massage the bag to disperse the rub all over each chicken piece.
Marinate overnight or up to 24 hours.
Combine the Yoghurt Sauce ingredients in a bowl and mix. Cover and put in the fridge until required (it will last for 3 days in the fridge).
Heat grill/BBQ (or large heavy based pan on stove) on medium high. You should not need to oil it because the marinade has oil in it and also thigh fillets have fat. But if you are worried then oil your hotplate/grill. (See notes for baking)
Place chicken on the grill and cook the first side for 4 to 5 minutes until nicely charred, then turn and cook the other side for 3 to 4 minutes (the 2nd side takes less time).
Remove chicken from the grill and cover loosely with foil. Set aside to rest for 5 minutes.
TO SERVE
Slice chicken and pile onto platter alongside flatbreads, Salad and the Yoghurt Sauce.
To make a wrap, get a piece of flatbread and smear with Yoghurt Sauce. Top with a bit of lettuce and tomato and Chicken Shawarma. Roll up and enjoy!</div>
		<div class="flex-container2">
		<div class="ingredients"><ul><li>1 kg Chicken Thighs</li><li>1 tbs Coriander</li><li>1 tbs Cumin</li><li>1 tbs Cardamom</li><li>1 tsp  Cayenne Pepper</li><li>2 tsp Paprika</li><li>2 tbs Lemon Juice</li><li>3 tbs Olive Oil</li><li>1 cup  Greek Yogurt</li><li>1 Garlic Clove</li><li>1 tsp  Cumin</li><li>Splash Lemon Juice</li><li>Sliced Lettuce</li><li>Sliced Tomato</li><li>6 Pita Bread</li></ul></div>
			<form class="form1" method="POST" action="">
		<input type="button" value="Add to Favorites" id="addToFavorites"><br/><br/>
		<input type="button" value="NEXT RECIPE" id="refreshRecipesButton"/>
	</form>
</div>
</div>
	</div>

</body>
</html>

