<!doctype html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Search</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Righteous" />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<script language="javascript">
		cuisineOptions = new Array();

		function getRecipes() {
			// document.getElementById("refreshRecipesButton").onclick = function()
			// {
			// 	getRecipes();
			// }

			// Make instance of request object to make HTTP request 
			//after page is loaded
			request = new XMLHttpRequest();
 
			// Set the URL for the AJAX request to be the JSON file
			request.open("GET", "https://www.themealdb.com/api/json/v1/1/random.php");
 
			// set up event handler/callback
			request.onreadystatechange = function() {
				// wait for done + success
				if (request.readyState == 4 && request.status == 200) {
					result = request.responseText;
					recipe = JSON.parse(result);
					//API call returns 1 recipe at a time
					recipeJson = recipe["meals"][0];
					recipeObject = createRecipeObject(recipeJson);

					button1 = "<input type='submit' value='ADD TO FAVORITES' id='addToFavorites'/>";
					button2 = "<input type='button' value='NEXT RECIPE' id='refreshRecipesButton' onclick='getRecipes()'/>";
					document.getElementById("web_recipe_form").innerHTML = "";
					hiddenForm = createHiddenForm(recipeObject);
					console.log(hiddenForm);
					document.getElementById("web_recipe_form").innerHTML = hiddenForm + button1 + button2;

					recipeHtml = recipeToString(recipeObject);
					document.getElementById("data").innerHTML = recipeHtml; 

					// searchButton = document.getElementById("cuisineDropdownDiv").innerHTML;
					// document.getElementById("cuisineDropdownDiv").innerHTML = makeCuisineSelect() + "&nbsp" +makeFilterSearchButton();
				}
				else if (request.readyState == 4 && request.status != 200) {

					document.getElementById("data").innerHTML = "Something went wrong! Please refresh the page";

				}
				else if (request.readyState == 3) {

					document.getElementById("data").innerHTML = "Loading...";

				}

			}
			//fire off the HTTP request
			request.send();
			console.log("4 - Request sent");

			// document.getElementById("addToFavorites").onclick = function()
			// {
			// 	alert("Recipe saved!");
			// 	getRecipes();
			// }
		}

		function makeCuisineSelect()
		{
			var s = "<select name='cuisineList' id='cuisine-list' size='1'>";
			s += "<option>" + "No filter" + "</option>";
			for (k=0; k < cuisineOptions.length; k++)
			{
				s += "<option>" + cuisineOptions[k] + "</option>";
			}
			s+= "</select>";
			
			return s;
		}

		function makeFilterSearchButton()
		{
			return "<input type='button' value='Search' />";
		}

	</script>

</head>

<body onload="getRecipes()">
	<nav>
		<div><a href="/webrecipe" class="middle">Browse</a></div>
		<div><a href="/createrecipe" class="middle">Add Your Own</a></div>
		<div><a href="/favorites" class="middle">My Favorites</a></div>
		<div><a href="/shoppinglist" class="middle">Shopping List</a></div>
	</nav>

	<form class="form1" method="POST" action="/webrecipe" id="web_recipe_form">
		<input type="submit" value="ADD TO FAVORITES" id="addToFavorites"/>
		<!-- <button type="submit" id="addToFavorites">ADD TO FAVORITES</button>
		<button type="button" onclick="getRecipes()" id="refreshRecipesButton">NEXT RECIPE</button> -->
		<input type="button" value="NEXT RECIPE" id="refreshRecipesButton" onclick="getRecipes()"/>
	</form>
	<div id="data">Loading...</div>

<% include partials/recipeObjectFooter %>
</body>
</html>
