<!doctype html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Search</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Righteous" />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<script type='text/javascript' src='../public/js/recipeObject.js'></script>
	<script language="javascript">
		cuisineOptions = new Array();

		function getRecipes() {
			// Make instance of request object to make HTTP request 
			//after page is loaded
			request = new XMLHttpRequest();
 
			// Set the URL for the AJAX request to be the JSON file
			request.open("GET", "https://www.themealdb.com/api/json/v1/1/random.php");
 
			// set up event handler/callback
			request.onreadystatechange = function() {
				// wait for done + success
				if (request.readyState == 4 && request.status == 200) {
					result = request.responseText;
					recipe = JSON.parse(result);
					//for now, API call only returns 1 recipe at a time
					recipeJson = recipe["meals"][0];
					recipeObject = createRecipeObject(recipeJson);

					// for (i = 0; i < recipeObject.cuisineTypes.length; i++)
					// {
					// 	cuisineOptions.push(recipeObject.cuisineTypes[i]);
					// }

					recipeHtml = recipeToString(recipeObject);
					document.getElementById("data").innerHTML = recipeHtml; 

					// searchButton = document.getElementById("cuisineDropdownDiv").innerHTML;
					// document.getElementById("cuisineDropdownDiv").innerHTML = makeCuisineSelect() + "&nbsp" +makeFilterSearchButton();
				}
				else if (request.readyState == 4 && request.status != 200) {

					document.getElementById("data").innerHTML = "Something went wrong! Please refresh the page";

				}
				else if (request.readyState == 3) {

					document.getElementById("data").innerHTML = "ReadyState is 3 so that means this is loading!!!!";

				}

			}
			//fire off the HTTP request
			request.send();
			console.log("4 - Request sent");

			//change this so that the button says 'Get 10 more recipes,' which makes another API call, but
			//adds onto the existing recipes and adds items to the cuisine dropdown list (if they do not 
			//already exist in the list)
			document.getElementById("refreshRecipesButton").onclick = function()
			{
			// 	// alert("here");
			// 	// document.getElementsByTagName("body")[0].load();
			// 	cuisineOptions = [];
			// 	document.getElementById("cuisineDropdownDiv").innerHTML = "&nbsp";
				getRecipes();
			// }
		}

		function makeCuisineSelect()
		{
			var s = "<select name='cuisineList' id='cuisine-list' size='1'>";
			s += "<option>" + "No filter" + "</option>";
			for (k=0; k < cuisineOptions.length; k++)
			{
				s += "<option>" + cuisineOptions[k] + "</option>";
			}
			s+= "</select>";
			
			return s;
		}

		function makeFilterSearchButton()
		{
			return "<input type='button' value='Search' />";
		}

	</script>
</head>

<body onload="getRecipes()">
	<nav>
		<div><a href="/webrecipe" class="middle">Browse</a></div>
		<div><a href="/createrecipe" class="middle">Add Your Own</a></div>
		<div><a href="/favorites" class="middle">My Favorites</a></div>
		<div><a href="/shoppinglist" class="middle">Shopping List</a></div>
	</nav>

<!-- 	<form method="POST" action="">
		<div id="cuisineDropdownDiv">
		&nbsp;
		<select name="cuisine_type" size="1">
			<option value="italian">Italian</option>
			<option value="carribbean">Carribbean</option>
			<option value="korean">Korean</option>
			<option value="german">German</option>
			<option value="indian">Indian</option>
		</select>
		<input type="button" value="Search" />
		</div>
		
	</form> -->

	<div id="data"></div>
	<form class="form1" method="POST" action="">
		<input type="button" value="Add to Favorites" id="addToFavorites"><br/><br/>
		<input type="button" value="NEXT RECIPE" id="refreshRecipesButton"/>
	</form>
	</div></div></div>

<% include partials/recipeObjectFooter %>
</body>
</html>
